<!--
   Kirkland
   Amy Shrestha, Carrie Ko, Rohan Sen
   SoftDev 2025
   time spent: 1.0 hrs
   -->

{% extends "encounters_template.html" %}
{% block content %}
    <button type="image-button" class="btn btn-secondary" style="background-color: transparent; border: none; outline: none; position: absolute; margin-left: 53%; margin-top: 27%;"><img src="/static/cattttt.png" alt="pixelcat"></button>
    <button type="image-button" class="btn btn-secondary" style="background-color: transparent; border: none; outline: none; position: absolute; margin-left: 35%; margin-top: 19%;"><img src="/static/cattttt.png" alt="pixelcat"></button>
    <button type="image-button" class="btn btn-secondary" style="background-color: transparent; border: none; outline: none; position: absolute; margin-left: 80%; margin-top: 4%;"><img src="/static/cattttt.png" alt="pixelcat"></button>
{% endblock %}
