<!--
   Kirkland
   Amy Shrestha, Carrie Ko, Rohan Sen
   SoftDev 2025
   time spent: 1.0 hrs
   -->

{% extends "encounters_template.html" %}
{% block content %}
    <button type="image-button" class="btn btn-secondary" style="background-color: transparent; border: none; outline: none; position: absolute; margin-left: 13%; margin-top: 18%;"><img src="/static/cattttt.png" alt="pixelcat"></button>
    <button type="image-button" class="btn btn-secondary" style="background-color: transparent; border: none; outline: none; position: absolute; margin-left: 88.5%; margin-top: 23%;"><img src="/static/cattttt.png" alt="pixelcat"></button>
{% endblock %}
