<!--
   Kirkland
   Amy Shrestha, Carrie Ko, Rohan Sen
   SoftDev 2025
   time spent: 1.0 hrs
   -->

{% extends "encounters_template.html" %}
{% block content %}
{% set r = breed | random %}
{% set breed = breed | reject("equalto", r) | list %}
    <button type="image-button" class="btn btn-secondary" style="background-color: transparent; border: none; outline: none; position: absolute; margin-left: 22%; margin-top: 9.7%;" onclick="location.href='{{url_for('weatherencounters', b = r[0])}}'"><img src="/static/cattttt.png" alt="pixelcat"></button>
{% set r = breed | random %}
{% set breed = breed | reject("equalto", r) | list %}
    <button type="image-button" class="btn btn-secondary" style="background-color: transparent; border: none; outline: none; position: absolute; margin-left: 50%; margin-top: 24.5%;" onclick="location.href='{{url_for('weatherencounters', b = r[0])}}'"><img src="/static/cattttt.png" alt="pixelcat"></button>
{% endblock %}
