<!DOCTYPE HTML>
<html>
  <head>
    <title> LOGIN PAGE </title>
  </head>
  <body>
    <h1>
      CATT
    </h1>
    <br>
    <h3>
      Enter your username below to proceed.
    </h3>
      <form action="/login" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" name="sub1" value="Login">
        <p> {{invalid}} </p>
      </form>
    <br>
    <div class="signup">
      <p style="font-size: 110%"> Register below. </p>
      <a href="{{url_for('signup')}}"> <button class="b">Sign Up</button> </a>
    </div>
  </body>
</html>
