<!DOCTYPE html>
<!--
    Kirkland
    Amy Shrestha, Carrie Ko, Rohan Sen
    SoftDev 2025
    time spent: 0.4 hrs
  -->
<html>
<head>
    <title>User Account Information</title>
</head>
<body>
  <nav>
    <a href="{{ url_for('start') }}">Start</a>
    <a href="{{ url_for('profile') }}">Profile</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </nav>

    <h1>User Account Information</h1>
    <p>Username: {{username}}</p>
  		<div class="sign3">Change password:</div>
      <div class="forms">
  		    <form action="/settings" method="POST">
              <input type="password" placeholder="old password" name="old_pass">
              <br><input type="password" placeholder="new password" name="new_pass">
              <br><input type="submit" name="password_form" value="Submit">
            </form>
            <p>{{ error }}</p>
      </div>

      <br>
    <button onclick="location.href='/start'">Back to Home</button>
</body>
</html>
