<!DOCTYPE html>
<!--
    Kirkland
    Amy Shrestha, Carrie Ko, Rohan Sen
    SoftDev 2025
    time spent: 0.1 hrs
  -->
<html>
<head>
    <title>User Account Information</title>
</head>
<body>
  <nav>
    <a href="{{ url_for('start') }}">Start</a>
    <a href="{{ url_for('profile') }}">Profile</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </nav>

    <h1>User Account Information</h1>
    <p>Username: {{username}}</p>
    <p>Change Password: <p>
    <button onclick="location.href='/start'">Back to Home</button>
</body>
</html>
